@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@using Chatty.Models
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<div class="container overflow-auto shadow-sm mb-5 bg-white rounded" style="height: 500px;">
    @if(!UserMessages.Any())
    {
        <p>There are no messages yet</p>
    }

    @foreach(var userMessage in UserMessages)
    {
        <div class="row mb-3 d-flex @(userMessage.CurrentUser ? "justify-content-end" : "")">
            <div class="card shadow @(userMessage.CurrentUser ? "color-green mr-5" : "ml-5")" style="width: 18rem;">
                <div class="card-header">
                    @(userMessage.CurrentUser ? "You" : userMessage.UserName)
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item @(userMessage.CurrentUser ? "color-green" : "")">@userMessage.Message</li>
                </ul>
                <div class="card-footer">
                    <span class="small">@userMessage.DateSent.ToString("HH:mm | MMM dd")</span>
                </div>
            </div>
        </div>
    }
</div>

<div class="container my-4">
    <div class="row">
        <div class="col-3">
            <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Your Name" @bind="userNameInput" readonly="@isUserReadOnly">
        </div>
        <div class="col-6">
            <textarea class="form-control" name="" id="" rows="3" @bind="@messageInput" placeholder="Type your message"></textarea>
        </div>
        <div class="col-3">
            <button class="btn btn-primary" @onclick="Send">Send</button>
        </div>
    </div>
</div>

@code {
    private HubConnection? hubConnection { get; set; }
    private List<UserMessage> UserMessages = new();
    private string? userNameInput { get; set; }
    private string? messageInput { get; set; }
    private bool isUserReadOnly = false;

    public bool IsConnected => hubConnection?.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
            .Build();

        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
                {
                    UserMessages.Add(new UserMessage{UserName = user, Message = message, CurrentUser = user == userNameInput, DateSent = DateTime.Now});
                    StateHasChanged();
                }
            );

        await hubConnection.StartAsync();
    }

    private async Task Send()
    {
        if (!string.IsNullOrEmpty(userNameInput) && !string.IsNullOrEmpty(messageInput))
        {
            await hubConnection.SendAsync("SendMessage", userNameInput, messageInput);

            isUserReadOnly = true;
            messageInput = string.Empty;
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}

